.dates {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  font-size: 160px;
  font-weight: 700;
}
.dateTextStart {
  color: #5d5fef;
}
.dateTextEnd {
  color: #ef5da8;
}
