* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'sans-serif';
}

.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  height: 100vh;
  background-image: repeating-linear-gradient(
    to right,
    rgba(255, 0, 0, 0.3) 0px,
    rgba(255, 0, 0, 0.3) 2px,
    transparent 2px,
    transparent calc(100% / 24)
  );
  padding-top: 170px;
}
.title {
  color: #42567a;
  font-size: 56px;
  font-weight: 700;
  grid-column: 5/10;
  grid-row: 1;
  margin-bottom: 50px;
}

.gradient-line {
  width: 5px;
  height: 130px;
  background: linear-gradient(to bottom, #3877ee, #ef5da8);
  grid-column: 4;
  grid-row: 1;
}
